html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
$btn-color: #ff3e79;

.navigation__body {
  display: flex;
  width: 100%;
  height: auto;
}

.navigation__list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.navigation__item:hover {
  border: 1px solid #ff3e79;
  background-color: white;
}

.navigation__item-menu {
  background-image: url(./static/burger.svg);
}

.navigation__item-menu:hover {
  background-image: url(./static/burger-hover.svg);
}

.navigation__item-phone {
  background-image: url(./static/phone.svg);
}

.navigation__item-phone:hover {
  background-image: url(./static/phone-hover.svg);
}

.navigation__item-chat {
  background-image: url(./static/chat.svg);
}

.navigation__item-chat:hover {
  background-image: url(./static/chat-hover.svg);
}

.navigation__item-user {
  background-image: url(./static/user.svg);
}

.navigation__item-user:hover {
  background-image: url(./static/user-hover.svg);
}

.navigation__item-tools {
  background-image: url(./static/tools.svg);
}

.navigation__item-tools:hover {
  background-image: url(./static/tools-hover.svg);
}

.navigation__item-search {
  background-image: url(./static/search.svg);
}

.navigation__item-search:hover {
  background-image: url(./static/tools-hover.svg);
}

.navigation__item-logo {
  width: 90.5px;
  height: 50.8px;
  background-color: rgba(0, 0, 0, 0);
}

.navigation__block-left {
  max-width: 175px;
}

.navigation__block-right {
  max-width: 116px;
}

.main__body {
  background: #f8f8f8;
  border-top: 1px solid #d9fff5;
}

.main__content-block {
  display: flex;
  justify-content: space-between;
}

.title {
  background-image: url(./static/highlight.svg);
  background-repeat: no-repeat;
  background-position: left center;
}

.title__text {
  font-family: 'TT Lakes Bold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__info_desktop-only {
  display: none;
}

.main__img {
  border-radius: 6px;
  width: 100%;
  height: 307px;
  object-fit: cover;
}

.scroll-bar__block {
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  width: 100%;
}

.scroll-bar__block::-webkit-scrollbar {
  width: 0;
}

.scroll-bar__block::-moz-scrollbar {
  width: 0;
}

.scroll-bar__item {
  height: 2.5rem;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  letter-spacing: -0.2px;
  color: #7e7e82;
  border: 2px solid #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.scroll-bar__item a {
  text-decoration: none;
  color: #7e7e82;
}

.scroll-bar__item:hover,
.scroll-bar__item:focus {
  background: #ffffff;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

.scroll-bar__item a {
  padding: 0.5em 1em;
}

.scroll-bar__block::-webkit-scrollbar {
  display: none;
}

.scroll-bar__block::-moz-scrollbar {
  width: 0;
}

.main__text {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1b1c21;
}

.main__text-more {
  width: 132px;
  height: 24px;
  padding-left: 2em;
  background-image: url(./static/bottom-arrow.svg);
  background-size: 7.5px 10.3px;
  background-repeat: no-repeat;
  background-position: left center;

  text-decoration: none;
  font-family: 'TT Lakes DemiBold';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.main__info-element a {
  color: black;
  text-decoration: none;
}

.feedback {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 440px;
  width: 100%;
  z-index: 1200;
  background: #ffffff;
  height: auto;
  display: none;
  transition: 0.5s ease-in-out;
}

.feedback-phone {
  height: 100vh;
}

.feedback::-webkit-scrollbar {
  width: 0;
}

.feedback {
  -ms-overflow-style: none;
}

.feedback {
  overflow: -moz-scrollbars-none;
}

.feedback__wrap {
  box-sizing: border-box;
  padding: 40px 32px;
  position: relative;
}

.feedback__title {
  position: relative;
  left: -32px;
}

.feedback__close-btn {
  position: absolute;
  left: -64px;
  background-image: url(./static/cross.svg);
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  border-radius: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  transition: 0.5s;
  cursor: pointer;
}

.feedback__close-btn:hover {
  border: 1px solid #ff3e79;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./static/cross-hover.svg);
}

.feedback__input {
  width: 100%;
  height: 48px;
  margin-bottom: 1em;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 8px;

  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #b5b6bc;

  padding: 12px 16px;
}

.feedback__textarea {
  height: 118px;
  resize: none;
}

.feedback__input:focus-visible {
  outline: none;
}

.feedback__text {
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  line-height: 16px;

  color: #7e7e82;
  margin-bottom: 23px;
}

.feedback__text span {
  color: #ff3e79;
}

.feedback__submit {
  float: right;
  padding: 0 1em;
  width: 136px;
  height: 36px;
  background: #ff3e79;
  border-radius: 16px;
  border: none;
  font-family: 'TT Lakes DemiBold';
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  text-align: left;
  letter-spacing: -0.15px;
  text-transform: uppercase;

  color: #ffffff;

  background-image: url('/service-brands/right-arrow.svg');
  background-repeat: no-repeat;
  background-position: 115px center;
  cursor: pointer;

  margin-bottom: 24px;
}

.service {
  box-sizing: border-box;
}

.service__body {
  padding: 0 2em;
  padding-bottom: 3.15em;
}

.service__title {
  padding: 1em 2em;
  font-family: 'TT Lakes Regular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7e7e82;

  margin-bottom: 1.55em;
  background-color: #ffffff;
  border-top: 1px solid #d9fff5;
}

.service__brands {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 2em;
  height: 176px;
  overflow: hidden;
  transition: 0.4s;
  margin-bottom: 0.5em;
}

.service__brands_active {
  height: auto;
}

.service__brand {
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  width: 100%;
  height: 72px;
  margin-bottom: 1em;
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: end;

  background-repeat: no-repeat;
  background-position: 1em center;
}

.service__brand button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;

  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-image: url(./static/Brand-Go.svg);
  transition: 0.4s;

  cursor: pointer;
}

.service__brand button:hover {
  background-color: #ff3e79;
  background-image: url(./static/Brand-Go-active.svg);
}

.service__brand_lenovo {
  background-image: url(./static/Lenovo.svg);
}

.service__brand_samsung {
  background-image: url(./static/Samsung.png);
}

.service__brand_apple {
  background-image: url(./static/Apple.svg);
}

.service__brand_viewsonic {
  background-image: url(./static/ViewSonic.svg);
}

.service__brand_bosch {
  background-image: url(./static/Bosch.svg);
}

.service__brand_hp {
  background-image: url(./static/Hp.svg);
  background-position: 0.6em center;
}

.service__brand_acer {
  background-image: url(./static/Acer.svg);
}

.service__brand_sony {
  background-image: url(./static/Sony.svg);
}

.service__brands-more {
  width: 145px;
  height: 24px;
  border: none;

  font-family: 'TT Lakes Medium';
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;

  transition: 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(./static/bottom-arrow.svg);
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 0.51em;
  margin-left: 7px;

  cursor: pointer;
}

.service__brands-more_active {
  background-image: url(./static/bottom-arrow-active.svg);
}

/* .mySwiper {
  display: none;
} */

.service__technic {
  position: relative;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  width: 100%;
  height: 160px;
  margin-bottom: 1em;
  padding: 1em 1em;
  display: flex;
  align-items: end;
  justify-content: end;

  background-repeat: no-repeat;
  background-position: 1em center;
}

.service__technic p {
  position: absolute;
  left: 0.95em;
  top: 0.85em;

  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: #1b1c21;
}

.service__technic button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 100%;

  background-color: rgba(0, 0, 0, 0);
  background-position: center center;
  background-image: url(./static/Brand-Go.svg);
  transition: 0.4s;

  cursor: pointer;
}

.service__technic button:hover {
  background-color: #ff3e79;
  background-image: url(./static/Brand-Go-active.svg);
}

.price__card-title_mobile {
  display: none;
}

.menu {
  font-size: 16px;
  position: relative;
  left: 0;
  box-sizing: border-box;
  max-width: 308px;
  width: 100%;
  padding: 28.7px 24px 32px;
}

.menu__wrap {
  max-height: 700px;
  display: block;
  box-sizing: border-box;
}

.navigation__body-menu {
  margin-bottom: 1.9em;
}

.navigation__block-menu {
  max-width: 153.8px;
}

.navigation__item:hover {
  border: 1px solid #ff3e79;
  background-color: white;
}

.navigation__item-menu_active {
  background-image: url(./static/cross.svg);
}

.navigation__item-menu_active:hover {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./static/cross-hover.svg);
}

.navigation__item-menu_search {
  background-image: url(./static/search-menu.svg);
}

.navigation__item-menu_search:hover {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(./static/search-menu-hover.svg);
}

.main-menu__body {
  margin-left: -1.35em;
  margin-bottom: 14.6em;
}

.main-menu__list {
  font-family: 'TT Lakes Regular';
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1b1c21;
}

.main-menu__item {
  margin-bottom: 1.1em;
  height: 2em;
  padding-left: 1.66em;
  display: flex;
  align-items: center;

  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;

  transition: 0.5s ease-in-out;
}

.main-menu__item a {
  text-decoration: none;
  color: black;
}

.main-menu__item:hover {
  color: #7e7e82;
  background-image: url(./static/highlight-menu.svg);
}

.main-menu__item_active {
  color: #7e7e82;
  background-image: url(./static/highlight-menu.svg);
}

.main-menu__item:last-child {
  margin-bottom: 0;
}


.footer-menu__navigation {
  display: block;
  max-width: 149px;
  margin-bottom: 1.25em;
}

.contacts__body {
  margin-bottom: 2.7em;
}

.contacts__list {
  font-family: 'TT Lakes Medium';
}

.contacts__item:first-child {
  margin-bottom: 0.98em;
}

.contacts__item a {
  text-decoration: none;
  color: #1b1c21;
}

.contacts__item-phone {
  font-family: 'TT Lakes Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.language__list {
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  max-width: 87px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.language__item {
  cursor: pointer;
}

.language__item_active {
  color: #7e7e82;
}

.price {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 2em;
}

.price__caption {
  display: flex;
  justify-content: space-between;
  padding: 0 1.55em;
  padding-top: 0.3em;
  padding-bottom: 1em;
}

.price__caption_right {
  max-width: 538px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price__caption-li_work {
  max-width: 470px;
  width: 100%;
}

.price__caption-li_qty {
  max-width: 224px;
  width: 100%;
}

.price__caption-li_time {
  max-width: 314px;
  width: 100%;
}

.price__caption-li {
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  line-height: 16px;

  color: #7e7e82;

  opacity: 0.72;
}

.price__card {
  padding: 0 1.55em;
  width: 100%;
  display: flex;
  align-items: center;
}

.price__card-body {
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4em;
}

.price__card:last-child .price__card-body {
  border: none;
}

.price__card-li {
  font-family: 'TT Lakes Medium';
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.2px;

  color: #1b1c21;
}

.price__card-name {
  max-width: 470px;
  width: 100%;
}

.price__card-li_time {
  position: absolute;
  left: 228px;
}

.price__card-wrap {
  max-width: 540px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.price__list {
  background: #ffffff;
  border-radius: 6px;
  margin-bottom: 2.3em;
}

.price__card-btn {
  width: 119px;
  height: 32px;
  background: #ff3e79;
  border-radius: 16px;
  border: none;

  padding: 0.2em 1em;
  padding-right: 2.5em;

  font-family: 'TT Lakes Bold';
  font-size: 12px;
  line-height: 24px;
  text-align: left;
  letter-spacing: -0.15px;
  text-transform: uppercase;

  color: #ffffff;

  background-image: url(./static/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 95px center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.price__card-btn:hover {
  color: #ff3e79;
  border: 1px solid #ff3e79;
  background: white;
  background-image: url(./static/right-arrow-active.svg);
  background-repeat: no-repeat;
  background-position: 95px center;
}

.price__text {
  max-width: 421px;
  width: 100%;

  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  letter-spacing: 0.2px;

  color: #1b1c21;
  margin-bottom: 1em;
}

.price__link {
  text-decoration: none;
  font-family: 'TT Lakes Medium';
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;

  color: #1b1c21;

  max-width: 312px;
  padding-right: 20px;
  width: 100%;

  background-image: url(./static/right-arrow-active.svg);

  background-repeat: no-repeat;
  background-position: 300px center;
}

footer {
  background: #f8f8f8;
  border-top: 1px solid #d9fff5;
  margin-top: 0.6em;
  padding: 2em 2em;
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-family: 'TT Lakes Regular';
  font-size: 14px;
  line-height: 16px;

  color: #7e7e82;

  mix-blend-mode: normal;
  opacity: 0.72;
}

.footer__center {
  max-width: 220px;
  width: 100%;
}

.footer__right {
  max-width: 330px;
  width: 100%;
  text-align: right;
}

@media screen and (max-width: 1312px) {
  .price__card-li_time {
    left: 190px;
  }
}

@media screen and (max-width: 1215px) {
  .price__caption-li_qty {
    max-width: 167px;
  }

  .price__card-li_time {
    left: 170px;
  }
}

@media screen and (max-width: 1215px) {
  .price__caption-li_qty {
    max-width: 95px;
  }

  .price__card-li_time {
    left: 95px;
  }
}

header {
  display: none;
}

.main__body {
  padding: 2.62em 0;
}

.title__body {
  display: flex;
  justify-content: space-between;
  padding: 0 2.15em;
  margin-bottom: 0.5em;
}

.main__info_desktop-only {
  display: flex;
}

.main__info {
  font-family: 'TT Lakes DemiBold';
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;

  color: #1b1c21;
}

.main__info-element {
  display: flex;
  align-items: center;
}

.main__info .navigation__item {
  margin-left: 0.7em;
}

.navigation__item-tools {
  margin-right: 2em;
}

.scroll-bar__block {
  flex-wrap: wrap;
  padding: 0 2.35em;
  margin-bottom: 0.62em;
}

.scroll-bar__item {
  margin-bottom: 6px;
}

.scroll-bar__item:last-child {
  margin-bottom: 0;
}

.main__content-block {
  padding: 0 2.12em;
  padding-bottom: 2.6em;
}

.main__text {
  max-width: 490px;
  line-height: 20px;
  margin-bottom: 1.5em;
}

.main__text:last-child {
  margin-bottom: 1em;
}

.main__img {
  max-width: 531px;
}

.menu__btn {
  display: none;
}

@media screen and (max-width: 1415px) {
  .scroll-bar {
    padding: 0 34px;
  }

  .scroll-bar__block {
    max-width: 1025px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    width: 100%;
    padding: 0;
    margin-bottom: 2em;
    flex-wrap: nowrap;
  }

  .scroll-bar__block::-webkit-scrollbar {
    display: none;
  }

  .scroll-bar__block::-moz-scrollbar {
    width: 0;
  }
}

@media screen and (max-width: 1400px) {
  .scroll-bar__block {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1375px) {
  .scroll-bar__block {
    max-width: 975px;
  }
}

@media screen and (max-width: 1350px) {
  .scroll-bar__block {
    max-width: 950px;
  }
}

@media screen and (max-width: 1325px) {
  .scroll-bar__block {
    max-width: 925px;
  }
}

@media screen and (max-width: 1300px) {
  .scroll-bar__block {
    max-width: 900px;
  }
}

@media screen and (max-width: 1275px) {
  .scroll-bar__block {
    max-width: 875px;
  }
}

@media screen and (max-width: 1250px) {
  .scroll-bar__block {
    max-width: 850px;
  }
}

@media screen and (max-width: 1225px) {
  .scroll-bar__block {
    max-width: 825px;
  }
}

@media screen and (max-width: 1200px) {
  .scroll-bar__block {
    max-width: 800px;
  }
}

@media screen and (max-width: 1175px) {
  .scroll-bar__block {
    max-width: 775px;
  }

  .main__img {
    max-width: 360px;
    object-fit: cover;
    height: auto;
  }
}

@media screen and (max-width: 1150px) {
  .scroll-bar__block {
    max-width: 750px;
  }
}

@media screen and (max-width: 1125px) {
  .scroll-bar__block {
    max-width: 725px;
  }
}

@media screen and (max-width: 1100px) {
  .scroll-bar__block {
    max-width: 700px;
  }
}

@media screen and (max-width: 1075px) {
  .scroll-bar__block {
    max-width: 675px;
  }
}

@media screen and (max-width: 1050px) {
  .scroll-bar__block {
    max-width: 650px;
  }
}

@media screen and (max-width: 1025px) {
  .scroll-bar__block {
    max-width: 625px;
  }
}

@media screen and (max-width: 1024px) {
  .feedback__wrap {
    padding: 24px 1em;
  }

  .feedback__title {
    left: -16px;
  }

  .container {
    position: static !important;
  }

  .scroll-bar {
    padding: 0;
  }

  .scroll-bar__block {
    max-width: 100%;
  }

  header {
    display: block;
  }

  .navigation__body {
    padding: 0 24px;
  }

  .menu {
    transition: 0.4s ease-in-out;
    padding-top: 18px;
    position: absolute;
    left: -1000px;
    visibility: hidden;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  .menu__btn {
    display: block;
  }

  .menu__wrap {
    max-height: 100%;
  }

  .navigation__menu .navigation__body {
    padding: 0;
  }

  .main__info_desktop-only {
    display: none;
  }

  .navigation__body {
    padding: 1.5em;
    padding-top: 1.12em;
  }

  .logo {
    position: relative;
  }

  .logo__img {
    padding-left: 1em;
  }

  .navigation__menu .logo:after {
    display: none;
  }

  .logo:after {
    position: absolute;
    top: 20%;
    left: 0;
    width: 2px;
    border-top: 32px solid #eaeaea;
    content: '';
  }

  .navigation__right-bar {
    max-width: 275px;
    width: 100%;
    display: flex;
  }

  .navigation__block-center {
    display: flex;
    padding-right: 1.25em;
    max-width: 172px;
    float: right;
  }

  .navigation__block-center .navigation__item {
    margin-right: 1em;
  }

  .navigation__block-center .navigation__item:last-child {
    margin-right: 0em;
  }

  .navigation__block-right .navigation__item {
    margin-right: 1em;
  }

  .navigation__block-right .navigation__item:last-child {
    margin-right: 0em;
  }

  .navigation__block-right {
    padding-left: 1.25em;
    position: relative;
  }

  .navigation__block-right:after {
    position: absolute;
    top: 20%;
    left: 0;
    width: 2px;
    border-top: 32px solid #eaeaea;
    content: '';
  }

  .main__body {
    padding-top: 1.4em;
  }

  .title__body {
    padding-left: 1.5em;
    margin-bottom: 2em;
  }

  .scroll-bar__block {
    padding: 0 1.5em;
    margin-bottom: 2em;
  }

  .main__content-block {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5em;
    padding-bottom: 32px;
    align-items: flex-start;
  }

  .main__text-body {
    margin-right: 3em;
  }

  .main__text {
    width: 100%;
    margin-bottom: 0.61em;
  }

  .main__img {
    max-width: 360px;
    border-radius: 6px;
    height: auto;
  }

  .service__body {
    padding: 0 1.5em;
    padding-bottom: 2em;
  }

  .service__title {
    padding: 1em 1.5em;
  }

  .service__brands {
    column-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
  }

  .service__brand {
    width: 100%;
  }

  .price__caption-li_time {
    max-width: 361px;
  }
}

@media screen and (max-width: 768px) {
  .footer__right {
    max-width: 213px;
  }
}

@media screen and (max-width: 767.97px) {
  .service__brands {
    column-gap: 0;
    overflow: visible;
  }

  .service__brands-more {
    display: none;
  }

  .price {
    padding: 0 1em;
  }

  .price__list {
    background: #f8f8f8;
  }

  .price__caption {
    display: none;
  }

  .price__list .price__card {
    background: #ffffff;
    margin-bottom: 0.6em;
  }

  .price__card {
    box-sizing: border-box;
    height: 200px;
    text-align: left;
    padding: 16px;
  }

  .price__card-body {
    height: 100%;
    border: none;

    display: block;
    text-align: left;
  }

  .price__card-title_mobile {
    display: block;
  }

  .price__card-wrap {
    display: block;
    position: static;
  }

  .price__card-li {
    margin-bottom: 16px;
  }

  .price__card-li:last-child {
    margin-bottom: 0;
  }

  .price__card-title_mobile {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;

    mix-blend-mode: normal;
    opacity: 0.72;
    margin-bottom: 4px;
  }

  .price__card-li_time {
    position: relative;
    left: 0;
    text-align: left;
  }

  .price__card-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}

@media screen and (max-width: 635px) {
  .main__text {
    max-width: 100%;
  }

  .main__img {
    max-width: 100%;
    width: 100%;
  }

  .main__text-body {
    margin-right: 0;
    margin-bottom: 1em;
  }

  .main__content-block {
    display: block;
  }

  footer {
    text-align: center;
    display: block;
    padding: 1em 0;
  }

  .footer__text {
    margin-bottom: 1em;
  }

  .footer__text:last-child {
    margin-bottom: 0;
  }

  .footer__center {
    max-width: 100%;
  }

  .footer__right {
    text-align: center;
    max-width: 100%;
  }

  .navigation__block-center {
    display: none;
  }

  .navigation__right-bar {
    max-width: 110px;
  }

  .navigation__block-right:after {
    display: none;
  }
}

@media screen and (max-width: 527.97px) {
  .feedback__close-btn {
    position: relative;
    left: 0;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 767.98px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper__brands {
    width: 100%;
    height: 117px;
    background-color: #f8f8f8;
  }

  .price {
    overflow: hidden;
  }

  .swiper__price {
    overflow: visible;
  }

  .mySwiper {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
  }

  .swiper__price .swiper-pagination {
    position: relative;
    top: -20px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 16px;
    background: #fff;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    color: #dddddd !important;
    background-color: #dddddd !important;
  }

  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 12px !important;
    height: 12px !important;
  }

  .swiper-pagination-bullet-active {
    color: #b5b6bc !important;
    background-color: #b5b6bc !important;
  }

  .swiper-wrapper {
    box-sizing: border-box;
    display: flex;
    padding-right: 1em;
  }

  .swiper-slide,
  .swiper-slide-active {
    background-color: #f8f8f8;
  }
}

@font-face {
  font-family: 'TT Lakes Light';
  src: url(./fonts/TTLakes-Light.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Regular';
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Medium';
  src: url(./fonts/TTLakes-Medium.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes DemiBold';
  src: url(./fonts/TTLakes-DemiBold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TT Lakes Bold';
  src: url(./fonts/TTLakes-Bold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  margin: 0 auto; }

.container-all {
  display: grid;
  grid-template-columns: 308px 1fr; }

.container {
  position: relative;
  background: #f8f8f8; }

@media screen and (max-width: 1024px) {
  .container-all {
    display: block; } }


/*# sourceMappingURL=style.css.map*/