@import url(./reset.css);
@import url(../blocks/header/header.scss);
@import url(../blocks/main/main.scss);
@import url(../blocks/service-brands/service-brands.scss);
@import url(../blocks/service-technic/service-technic.scss);
@import url(../blocks/menu/menu.scss);
@import url(../blocks/price/price.scss);
@import url(../blocks/footer/footer.scss);
@import url(../blocks/media/desktop.scss);

$bgColor: #ffffff;
$text: #1b1c21;

@font-face {
  font-family: 'TT Lakes Light';
  src: url('../fonts/TTLakes-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TTLakes-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TTLakes-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes DemiBold';
  src: url('../fonts/TTLakes-DemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TTLakes-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  font-size: 16px;
  margin: 0 auto;
}

.container-all {
  display: flex;
  position: relative;
}

.container {
  background: #f8f8f8;
}
