$pinky: #ff3e79;

.navigation__body {
  display: flex;
  width: 100%;
  height: auto;
}

.navigation__list {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}
.navigation__item {
	width: 40px;
	height: 40px;
	background-color: $pinky;
	border-radius: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	transition: 0.5s;
	cursor: pointer;
	&:hover {
		border: 1px solid $pinky;
		background-color: white;
	}
}
.navigation__item-menu {
	background-image: url('../img-css/header/burger.svg');
	&:hover {
		background-image: url('../img-css/hover/burger-hover.svg');
	}
}
.navigation__item-phone {
	background-image: url('../img-css/header/phone.svg');
	&:hover {
		background-image: url('../img-css/hover/phone-hover.svg');
	}
}
.navigation__item-chat {
	background-image: url('../img-css/header/chat.svg');
	&:hover {
		background-image: url('../img-css/hover/chat-hover.svg');
	}
}
.navigation__item-user {
	background-image: url('../img-css/header/user.svg');
	&:hover {
		background-image: url('../img-css/hover/user-hover.svg');
	}
}
.navigation__item-tools {
	background-image: url('../img-css/header/tools.svg');
	&:hover {
		background-image: url('../img-css/hover/tools-hover.svg');
	}
}
.navigation__item-search {
	background-image: url('../img-css/header/search.svg');
	&:hover {
		background-image: url('../img-css/hover/tools-hover.svg');
	}
}
.navigation__item-logo {
	width: 90.5px;
	height: 50.8px;
	background-color: rgba(0, 0, 0, 0);
}
.navigation__block-left {
	max-width: 175px;
}
.navigation__block-right {
	max-width: 116px;
}
